@keyframes welcome {
  0.00% {
    transform: scale(90%);
    opacity: 0%;
  }
  5.88% {
    transform: scale(100%);
    opacity: 100%;
  }
  11.76% {
    transform: scale(100%);
    opacity: 100%;
  }
  17.65% {
    transform: scale(90%);
    opacity: 0%;
  }
  23.53% {
    transform: scale(90%);
    opacity: 0%;
  }
  29.41% {
    transform: scale(90%);
    opacity: 0%;
  }
  35.29% {
    transform: scale(90%);
    opacity: 0%;
  }
  41.18% {
    transform: scale(90%);
    opacity: 0%;
  }
  47.06% {
    transform: scale(90%);
    opacity: 0%;
  }
  52.94% {
    transform: scale(90%);
    opacity: 0%;
  }
  58.82% {
    transform: scale(90%);
    opacity: 0%;
  }
  64.71% {
    transform: scale(90%);
    opacity: 0%;
  }
  70.59% {
    transform: scale(90%);
    opacity: 0%;
  }
  76.47% {
    transform: scale(90%);
    opacity: 0%;
  }
  82.35% {
    transform: scale(90%);
    opacity: 0%;
  }
  88.24% {
    transform: scale(90%);
    opacity: 0%;
  }
  94.12% {
    transform: scale(90%);
    opacity: 0%;
  }
  100.00% {
    transform: scale(90%);
    opacity: 0%;
  }
}
.__animate-welcome-brand {
  animation-name: welcome;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease;

  --time-scale: 1;
  --count: 6;
  --delay-base: calc(3s + 1s);
  --duration-base: calc(var(--delay-base) * var(--count));

  --delay: calc(var(--time-scale) * var(--delay-base));
  --duration: calc(var(--time-scale) * var(--duration-base));

  animation-duration: var(--duration);
  animation-delay: calc(calc(var(--idx) - 1) * var(--delay));
}
